<div class="p-5 m-5">
  <!-- <mat-form-field>
    <mat-label>Input</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->
</div>

<div class="w-100 d-flex align-items-center justify-content-center flex-column">
  <h3>Sign in with</h3>
  <div class="d-flex gap-3">
    <div class="logo-item d-flex align-items-center justify-content-center">
      <img src="../../assets/images/logos/google.svg" alt="" />
    </div>
    <div class="logo-item d-flex align-items-center justify-content-center">
      <img src="../../assets/images/logos/facebook.svg" alt="" />
    </div>
    <div class="logo-item d-flex align-items-center justify-content-center">
      <img src="../../assets/images/logos/twitter.svg" alt="" />
    </div>
    <div class="logo-item d-flex align-items-center justify-content-center">
      <img src="../../assets/images/logos/github.svg" alt="" />
    </div>
  </div>
</div>
